header h1 {
        background-color: rgb(122, 186, 53);
        border: 5px blue dotted;  
        font-weight: 20px;  
        text-align: center;
}

nav {
    background-color: rgb(212, 132, 13);
    border: 5px pink dotted;
    font-size: 30px;
}

nav ul li a{
    color: rgb(25, 212, 196);
    font-weight: bold;
    text-decoration: none;
}
nav ul li{
    list-style-type: none;
    text-decoration-color: blue;
}
#intro {
    background-color: blueviolet;
    border: 5px yellow solid;
}

.teacher-info{
    background-color: aquamarine;
    border: 5px orange solid;

}