header h1 {
        background-color: rgb(122, 186, 53);
        border: 5px blue dotted;  
        font-weight: 20px;  
        text-align: center;
}

nav {
    background-color: rgb(212, 132, 13);
    border: 5px pink dotted;
    font-size: 30px;
    position: sticky;
    z-index: 1;
    top: 0;
}

nav ul li a{
    color: rgb(25, 212, 196);
    font-weight: bold;
    text-decoration: none;
}
nav ul li{
    list-style-type: none;
    text-decoration-color: blue;
}
#intro {
    background-color: blueviolet;
    border: 5px yellow solid;
}
.teacher-info {

    background-color: lightslategray;

    border: 5px solid rgb(201, 99, 99);

    box-shadow: 2px 2px 5px 5px rgb(107, 24, 130);

    margin: 20px 10px;

    text-align: center;

}

.teacher-info h3,

p {

    font-family: cursive;

    color: rgb(225, 228, 228);

}

table tr th,

td {

    border: 2px solid rgb(38, 34, 35);

}

.main-section-content {

    border: 5px solid grey;

    border-radius: 5px;

    margin: 20px 10px;

    padding: 10px;
    background-color: cadetblue;
}

button{
    position:fixed;
    bottom: 40px;
    right: 50px;
}
#bestsellers{
    background-color: rgb(14, 158, 158);
    border: 20px blue;
    margin-top: 10px;
    padding: 50px;

}
footer{
    color: white;
    background-color: black;
    padding: 20px;
    border: 5px solid wheat;
    margin-top: 10px;
}
nav ul , footer, #related-videos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#teachers{
    background-color: blue;
    border: 5px solid mediumvioletred;
    padding: 2px 5px;
    margin: 10px;
    display:flex;
}

.teacher{
    background-color: mediumturquoise;
    border: 10px solid salmon;
    padding: 8px 9px;
    text-align: center;
}

